@import '../../variables.scss';

header {
	padding: 20px;
	border-bottom: 1px solid $color_default;
	z-index: 10;
	background-color: $bg_color;
}

.header_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.logo {
	font-size: 15px;
}

.login {
	button {
		background-color: $succes;
		border: none;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		transition: all .4s ease;
	}
	button.active {
		transform: rotate(45deg);
		background-color: $color_active;
	}
}